@using Microsoft.AspNetCore.Identity;
@inject UserManager<BTUser> _UserManager
@inject IRoleService _RoleService
@inject ICompanyService _CompanyService
@inject INotificationService _NotificationService
@inject IFileService _FileService
@{
    BTUser? currentUser = await _UserManager.GetUserAsync(User);
    List<Notification> notifications = await _NotificationService.GetUserNotificationsAsync(currentUser!.Id);
    List<Notification> unreadNotifications = await _NotificationService.GetUnreadUserNotificationsAsync(currentUser!.Id);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <title>@ViewBag.Title - Chrysalis</title>

    <!-- Bootstrap CSS -->
    <link id="style" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    @*Figure out wtf is going on with icons*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!-- Icons CSS -->
    <link href="~/assets/plugins/web-fonts/icons.css" rel="stylesheet" />
    <link href="~/assets/plugins/web-fonts/font-awesome/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/plugins/web-fonts/plugin.css" rel="stylesheet" />

    <!-- Style CSS -->
    <link href="~/assets/css/style.css" rel="stylesheet" asp-append-version="true" />

    <!-- Select2 CSS -->
    <link href="~/assets/plugins/select2/css/select2.min.css" rel="stylesheet" />

    <!-- Mutipleselect CSS -->
    <link rel="stylesheet" href="~/assets/plugins/multipleselect/multiple-select.css" />

    <!-- Rich Text Editor-->
    <link rel="stylesheet" href="~/assets/plugins/wysiwyag/richtext.css">

    <!-- InternalFancy uploader css-->
    <link href="../assets/plugins/fancyuploder/fancy_fileupload.css" rel="stylesheet" />

    <!-- DATA TABLE CSS -->
    <link href="~/assets/plugins/datatable/css/dataTables.bootstrap5.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatable/css/buttons.bootstrap5.min.css" rel="stylesheet">
    <link href="~/assets/plugins/datatable/css/responsive.bootstrap5.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Chrysalis.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body class="ltr main-body leftmenu">
    <partial name="_LogoutPartial" />
    <!-- Page -->
    <div class="page">
        <!-- Main Header -->
        <div class="main-header side-header sticky">
            <div class="main-container-1 container-fluid">
                <div class="main-header-left">
                    <a class="main-header-menu-icon" href="javascript:void(0)" id="mainSidebarToggle"><span></span></a>
                    <div class="hor-logo">
                        <a class="main-logo" asp-controller="Home" asp-action="Dashboard">
                            <img src="~/img/Chrysalis_Title-Logo-Transparent.png" class="header-brand-img desktop-logo" alt="logo">
                            <img src="~/img/Chrysalis_Title-Logo-Transparent.png" class="header-brand-img desktop-logo-dark"
                                 alt="logo">
                        </a>
                    </div>
                </div>
                <div class="main-header-center">
                    <div class="responsive-logo">
                        <a asp-controller="Home" asp-action="Dashboard">
                            <img src="~/img/Chrysalis_Logo_Small.png" class="mobile-logo" alt="logo">
                        </a>
                        <a asp-controller="Home" asp-action="Dashboard">
                            <img src="~/img/Chrysalis_Logo_Small.png" class="mobile-logo-dark"
                                 alt="logo">
                        </a>
                    </div>
                </div>
                <div class="main-header-right">
                    <!-- Navresponsive toggle -->
                    <button class="navbar-toggler navresponsive-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fe fe-more-vertical header-icons navbar-toggler-icon"></i>
                    </button>
                    <!-- Start Navresponsive -->
                    <div class="navbar navbar-expand-lg  nav nav-item  navbar-nav-right responsive-navbar navbar-dark  ">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                            <div class="d-flex order-lg-2 ms-auto">
                                <!-- Start Theme-Layout -->
                                <div class="dropdown d-flex main-header-theme">
                                    <a class="nav-link icon layout-setting">
                                        <span class="dark-layout">
                                            <i class="fe fe-sun header-icons"></i>
                                        </span>
                                        <span class="light-layout">
                                            <i class="fe fe-moon header-icons"></i>
                                        </span>
                                    </a>
                                </div>
                                <!-- End Theme-Layout -->
                                <!-- Start Full screen -->
                                <div class="dropdown ">
                                    <a class="nav-link icon full-screen-link">
                                        <i class="fe fe-maximize fullscreen-button fullscreen header-icons"></i>
                                        <i class="fe fe-minimize fullscreen-button exit-fullscreen header-icons"></i>
                                    </a>
                                </div>
                                <!-- End Full screen -->
                                @* <!-- Start Notification -->
                                <div class="dropdown main-header-notification">
                                    <a class="nav-link icon" href="javascript:void(0)">
                                        <i class="fe fe-bell header-icons"></i>
                                        @if (unreadNotifications.Count() > 0)
                                        {
                                            <span class="badge bg-danger nav-link-badge">@unreadNotifications.Count()</span>
                                        }
                                    </a>
                                    <div class="dropdown-menu">
                                        <div class="header-navheading">
                                            <!-- Unread notifications -->
                                            @if (@unreadNotifications.Count() == 0)
                                            {
                                                <p class="main-notification-text">
                                                    You have 0 unread notifications
                                                </p>
                                            }
                                            else if (@unreadNotifications.Count() == 1)
                                            {
                                                <p class="main-notification-text">
                                                    You have 1 unread notification
                                                    <!-- TO-DO: implement viewing unread notifications -->
                                                    <span class="badge bg-pill bg-primary ms-3">View</span>
                                                </p>
                                            }
                                            else
                                            {
                                                <p class="main-notification-text">
                                                    You have @unreadNotifications.Count() unread notifications
                                                    <!-- TO-DO: implement viewing unread notifications -->
                                                    <span class="badge bg-pill bg-primary ms-3">View all</span>
                                                </p>
                                            }
                                        </div>
                                        <div class="main-notification-list">
                                            @foreach (Notification notification in notifications)
                                            {
                                                @if (notification.HasBeenViewed)
                                                {
                                                    <div class="media">
                                                        <!-- TO-DO: Implement showing user online? class="main-img-user online" -->
                                                        <div class="main-img-user">
                                                            <img alt="avatar"
                                                                 src="@_FileService.ConvertByteArrayToFile(
                                                                    notification.Sender?.ImageData,
                                                                    notification.Sender?.ImageType,
                                                                    DefaultImage.BTUserImage)">
                                                        </div>
                                                        <div class="media-body">
                                                            <p>@notification.Message</p>
                                                            <span>@notification.Created.ToLocalTime().ToString("MM.dd.yy") </span>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="media new">
                                                        <!-- TO-DO: Implement showing user online? class="main-img-user online" -->
                                                        <div class="main-img-user">
                                                            <img alt="avatar"
                                                                 src="@_FileService.ConvertByteArrayToFile(
                                                                    notification.Sender?.ImageData,
                                                                    notification.Sender?.ImageType,
                                                                    DefaultImage.BTUserImage)">
                                                        </div>
                                                        <div class="media-body">
                                                            <p>@notification.Message</p>
                                                            <span>@notification.Created.ToLocalTime().ToString("MM.dd.yy") </span>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <div class="dropdown-footer">
                                            <a asp-controller="Notifications" asp-action="Index">View All Notifications</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Notification --> *@
                                <!-- Start Profile -->
                                <div class="dropdown main-profile-menu">
                                    <a class="d-flex" href="javascript:void(0)">
                                        <span class="main-img-user">
                                            <img alt="avatar"
                                                 src="@_FileService.ConvertByteArrayToFile(
												currentUser?.ImageData,
												currentUser?.ImageType,
                                                DefaultImage.BTUserImage)">
                                        </span>
                                    </a>
                                    <div class="dropdown-menu">
                                        <div class="header-navheading">
                                            <h6 class="main-notification-title">@currentUser?.FullName</h6>
                                            <p class="main-notification-text">@((await _RoleService.GetUserRolesAsync(currentUser)).First())</p>
                                        </div>
                                        <a class="dropdown-item border-top" asp-area="Identity"
                                            asp-page="/Account/Manage/Index">
                                            <i class="fe fe-user"></i> My Profile
                                        </a>
                                        @* <a class="dropdown-item" href="#">
                                            <i class="fe fe-settings"></i> Support
                                        </a> *@
                                        <a class="dropdown-item"
                                           href="javascript:document.getElementById('logoutForm').submit();">
                                            <i class="fe fe-power"></i> Log Out
                                        </a>
                                    </div>
                                </div>
                                <!-- End Profile -->
                            </div>
                        </div>
                    </div>
                    <!-- End Navresponsive -->
                </div>
            </div>
        </div>
        <!-- End Main Header -->
        <!-- Left Sidebar -->
        <div class="sticky">
            <div class="main-menu main-sidebar main-sidebar-sticky side-menu">
                <div class="main-sidebar-header main-container-1 active">
                    <div class="sidemenu-logo">
                        <a class="main-logo" asp-controller="Home" asp-action="Dashboard">
                            <img src="~/img/Chrysalis_Title-Logo_White-Transparent_Small.png" class="header-brand-img desktop-logo" alt="logo">
                            <img src="~/img/Chrysalis-Logo_Transparent-White_Small.png" class="header-brand-img icon-logo" style="width: 50px;" alt="logo">
                            <img src="~/img/Chrysalis_Title-Logo_White-Transparent_Small.png" class="header-brand-img desktop-logo theme-logo" alt="logo">
                            <img src="~/img/Chrysalis-Logo_Transparent-White_Small.png" class="header-brand-img icon-logo theme-logo" style="width: 50px;" alt="logo">
                        </a>
                    </div>
                    <div class="main-sidebar-body main-body-1">
                        <div class="slide-left disabled" id="slide-left"><i class="fe fe-chevron-left"></i></div>
                        <ul class="menu-nav nav">
                            <li class="nav-header"><span class="nav-label">Dashboard</span></li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Dashboard">
                                    <span class="shape1"></span>
                                    <span class="shape2"></span>
                                    <i class="bi bi-house-fill sidemenu-icon menu-icon "></i>
                                    <span class="sidemenu-label">Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-header"><span class="nav-label">Company</span></li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Companies" asp-action="Index">
                                    <span class="shape1"></span>
                                    <span class="shape2"></span>
                                    <i class="bi bi-building-fill sidemenu-icon menu-icon "></i>
                                    <span class="sidemenu-label">Company</span>
                                </a>
                            </li>
                            <li class="nav-header"><span class="nav-label">Projects</span></li>
                            <li class="nav-item">
                                <a class="nav-link with-sub" href="javascript:void(0)">
                                    <span class="shape1"></span>
                                    <span class="shape2"></span>
                                    <i class="bi bi-easel-fill sidemenu-icon menu-icon "></i>
                                    <span class="sidemenu-label">Projects</span>
                                    <i class="angle fe fe-chevron-right"></i>
                                </a>
                                @if (User.IsInRole(nameof(BTRoles.Admin)))
                                {
                                    <ul class="nav-sub">
                                        <li class="side-menu-label1"><a href="javascript:void(0)">Projects</a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link" asp-controller="Projects" asp-action="AllProjects">All Projects</a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link" asp-controller="Projects" asp-action="ActiveProjects">Active Projects</a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link" asp-controller="Projects" asp-action="UnassignedProjects">Unassigned Projects</a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link" asp-controller="Projects" asp-action="ArchivedProjects">Archived Projects</a></li>
                                    </ul>
                                }
                                else
                                {
                                    <ul class="nav-sub">
                                        <li class="side-menu-label1"><a href="javascript:void(0)">Projects</a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link" asp-controller="Projects" asp-action="AllProjects">All Projects</a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link" asp-controller="Projects" asp-action="MyProjects">My Projects</a></li>
                                    </ul>
                                }
                            </li>
                            <li class="nav-header"><span class="nav-label">Tickets</span></li>
                            <li class="nav-item">
                                <a class="nav-link with-sub" href="javascript:void(0)">
                                    <span class="shape1"></span>
                                    <span class="shape2"></span>
                                    <i class="bi bi-list-task sidemenu-icon menu-icon"></i>
                                    <span class="sidemenu-label">Tickets</span>
                                    <i class="angle fe fe-chevron-right"></i>
                                </a>
                                @if (User.IsInRole(nameof(BTRoles.Admin)))
                                {
                                    <ul class="nav-sub">
                                        <li class="side-menu-label1"><a href="javascript:void(0)">Tickets</a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link" asp-controller="Tickets" asp-action="AllTickets">All Tickets</a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link" asp-controller="Tickets" asp-action="ActiveTickets">Active Tickets</a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link" asp-controller="Tickets" asp-action="UnassignedTickets">Unassigned Tickets</a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link" asp-controller="Tickets" asp-action="ArchivedTickets">Archived Tickets</a></li>
                                    </ul>
                                }
                                else
                                {
                                    <ul class="nav-sub">
                                        <li class="side-menu-label1"><a href="javascript:void(0)">Tickets</a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link" asp-controller="Tickets" asp-action="AllTickets">All Tickets</a></li>
                                        <li class="nav-sub-item"><a class="nav-sub-link" asp-controller="Tickets" asp-action="MyTickets">My Tickets</a></li>
                                    </ul>
                                }
                            </li>
                        </ul>
                        <div class="slide-right" id="slide-right"><i class="fe fe-chevron-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Left Sidebar -->
        <!-- Main Content -->
        <div class="main-content side-content pt-0 ps-3 mb-3">
            <div class="main-container container-fluid">
                <div class="inner-body">
                    <partial name="_PageHeaderPartial" />
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- End Main Content -->
        <!-- Main Footer -->
        <div class="main-footer text-center">
            <div class="container">
                <div class="row row-sm">
                    <div class="col-md-12">
                        <span>
                            Copyright © 2023 <a href="javascript:void(0)">Chrysalis</a>. Designed by <a href="https://cadence-eva.netlify.app/">Cadence Eva Custin</a>. All rights reserved.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Footer -->
    </div>
    <!-- End Page -->
    <!-- Back-to-top -->
    <a href="#top" id="back-to-top"><i class="fe fe-arrow-up"></i></a>

    <!-- Jquery js-->
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Internal Chart.Bundle js-->
    <script src="~/assets/plugins/chart.js/Chart.bundle.min.js"></script>

    <!-- Peity js-->
    <script src="~/assets/plugins/peity/jquery.peity.min.js"></script>

    <!-- Select2 js-->
    <script src="~/assets/plugins/select2/js/select2.min.js"></script>
    <script src="~/assets/js/select2.js"></script>

    <!-- Perfect-scrollbar js -->
    <script src="~/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <!-- Sidemenu js -->
    <script src="~/assets/plugins/sidemenu/sidemenu.js"></script>

    <!-- Sidebar js -->
    <script src="~/assets/plugins/sidebar/sidebar.js"></script>

    <!-- Internal Morris js -->
    <script src="~/assets/plugins/raphael/raphael.min.js"></script>
    <script src="~/assets/plugins/morris.js/morris.min.js"></script>

    <!-- Circle Progress js-->
    <script src="~/assets/js/circle-progress.min.js"></script>
    <script src="~/assets/js/chart-circle.js"></script>

    <!-- Internal Dashboard js-->
    <script src="~/assets/js/index.js"></script>

    <!-- Color Theme js -->
    <script src="~/assets/js/themeColors.js"></script>

    <!-- Sticky js -->
    <script src="~/assets/js/sticky.js"></script>

    <!-- Rich Text Editor JS -->
    <script src="~/assets/plugins/wysiwyag/jquery.richtext.js"></script>
    <script src="~/assets/plugins/wysiwyag/wysiwyag.js"></script>

    <!-- InternalFancy uploader js-->
    <script src="~/assets/plugins/fancyuploder/jquery.ui.widget.js"></script>
    <script src="~/assets/plugins/fancyuploder/jquery.fileupload.js"></script>
    <script src="~/assets/plugins/fancyuploder/jquery.iframe-transport.js"></script>
    <script src="~/assets/plugins/fancyuploder/jquery.fancy-fileupload.js"></script>
    <script src="~/assets/plugins/fancyuploder/fancy-uploader.js"></script>

    <!-- Internal Data Table js -->
    <script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/assets/plugins/datatable/pdfmake/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatable/pdfmake/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.colVis.min.js"></script>
    <script src="~/assets/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/assets/js/select2.js"></script>

    <!-- Internal Flot Chart js-->
    <script src="~/assets/plugins/jquery.flot/jquery.flot.js"></script>
    <script src="~/assets/plugins/jquery.flot/jquery.flot.pie.js"></script>
    <script src="~/assets/plugins/jquery.flot/jquery.flot.resize.js"></script>

    <!-- Spruha Custom js -->
    <script src="~/assets/js/custom.js"></script>

    <!-- Custom JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>