@using Microsoft.AspNetCore.Identity;
@model IEnumerable<Ticket>
@inject UserManager<BTUser> _UserManager
@inject IRoleService _RoleService
@inject ICompanyService _CompanyService
@inject IProjectService _ProjectService
@{
    BTUser? currentUser = await _UserManager.GetUserAsync(User);
    bool userIsAdmin = await _RoleService.IsUserInRoleAsync(currentUser, nameof(BTRoles.Admin));
}

<div class="card custom-card overflow-hidden">
    <div class="card-body ps-3">
        <div class="table-responsive">
            <table id="ticketTable" class="table text-nowrap table-hover">
                <thead>
                    <tr>
                        <th>Ticket</th>
                        <th>Submitted By</th>
                        <th>Developer</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Created</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Ticket? ticket in Model)
                    {
                        BTUser? ticketPM = await _ProjectService.GetProjectManagerAsync(ticket.ProjectId);
                        bool userIsPM = ticketPM?.Id.Equals(currentUser?.Id) ?? false;
                        <tr>
                            <td>@ticket.Title</td>
                            <td>@((await _CompanyService.GetCompanyUserByIdAsync(ticket.SubmitterUserId, ticket.Project?.CompanyId)).FullName)</td>
                            <td>
                                
                                @if (ticket.DeveloperUserId == null && (userIsAdmin || userIsPM))
                                {
                                    <a class="badge bg-secondary" asp-action="AssignDeveloper"
                                       asp-controller="Tickets" asp-route-ticketId="@ticket.Id">
                                        Assign Developer
                                    </a>
                                }
                                else if (ticket.DeveloperUserId == null)
                                {
                                    <span class="badge bg-secondary">Unassigned</span>
                                }
                                else
                                {
                                    @((await _CompanyService.GetCompanyUserByIdAsync(ticket.DeveloperUserId, ticket.Project?.CompanyId))?.FullName)
                                }
                            </td>
                            <td>
                                <span class="badge bg-success">@ticket.TicketStatus?.Name</span>
                            </td>
                            <td>
                                <span class="badge bg-warning">@ticket.TicketPriority?.Name</span>
                            </td>
                            <td>
                                @ticket.Created.ToString("MM.dd.yyyy")
                            </td>
                            <td>
                                <a asp-action="Details" asp-controller="Tickets"
                                   asp-route-ticketId="@ticket.Id" class="badge bg-info">
                                    <i class="bi bi-eye-fill"></i>
                                </a>
                                @if (userIsAdmin)
                                {
                                    <a asp-action="Edit" asp-controller="Tickets"
                                       asp-route-ticketId="@ticket.Id" class="badge bg-secondary ms-1">
                                        <i class="bi bi-pencil-fill"></i>
                                    </a>
                                    @if (ticket.Archived || ticket.ArchivedByProject)
                                    {
                                        <a asp-action="ConfirmUnarchive" asp-controller="Tickets"
                                           asp-route-ticketId="@ticket.Id" class="badge bg-danger ms-1">
                                            <i class="bi bi-archive-fill"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="ConfirmArchive" asp-controller="Tickets"
                                           asp-route-ticketId="@ticket.Id" class="badge bg-danger ms-1">
                                            <i class="bi bi-archive-fill"></i>
                                        </a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
}