@model Project
@inject IProjectService _ProjectService
@inject IFileService _FileService
@inject IRoleService _RoleService

@{
    ViewData["Title"] = "Project Members";
}

<form asp-action="AssignMembers">
    <input type="hidden" name="projectId" value="@Model.Id" />
    <div class="row gy-2">
        <div class="col-12 col-md-4">
            <h3>Current Team</h3>
            @foreach (BTUser member in Model.Members)
            {
                <partial name="_UserPartial" model="member" />
            }
        </div>
        <div class="col-12 col-md-4">
            <h3>Change Developers?</h3>
            <select class="form-control select2" multiple
                    name="developers" asp-items="ViewBag.Developers">
                @foreach (BTUser user in Model.Members)
                {
                    @if (await _RoleService.IsUserInRoleAsync(user, nameof(BTRoles.Developer)))
                    {
                        <option selected value="@user.Id">
                            @user.FullName
                        </option>
                    }
                }
            </select>
        </div>
        <div class="col-12 col-md-4">
            <h3>Change Submitters?</h3>
            <select class="form-control select2" multiple
                    name="submitters" asp-items="ViewBag.Submitters">
                @foreach (BTUser user in Model.Members)
                {
                    @if (await _RoleService.IsUserInRoleAsync(user, nameof(BTRoles.Submitter)))
                    {
                        <option selected value="@user.Id">
                            @user.FullName
                        </option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="d-flex">
        <button type="submit" class="btn btn-primary">Modify</button>
        <a asp-controller="Projects" asp-action="Details" asp-route-id="@Model.Id"
           class="btn btn-danger ms-3">Cancel</a>
    </div>
</form>