@using Microsoft.AspNetCore.Identity;
@model Project
@inject UserManager<BTUser> _UserManager
@inject IProjectService _ProjectService
@inject IFileService _FileService
@inject IRoleService _RoleService
@inject ITicketHistoryService _HistoryService

@{
    ViewData["Title"] = $"{Model.Name} Details";
    BTUser? projectManager = await _ProjectService.GetProjectManagerAsync(Model.Id);
    BTUser? currentUser = await _UserManager.GetUserAsync(User);
    bool userIsAdmin = await _RoleService.IsUserInRoleAsync(currentUser, nameof(BTRoles.Admin));
    bool userOnProject = Model.Members.Any(u => u.Id == currentUser?.Id);
}

<div class="row ps-3">
    <div class="col-12 col-xl-4">
        <div class="d-flex justify-content-between align-items-center">
            <h3>Details</h3>
            @if (userIsAdmin)
            {
                <a asp-action="Edit" asp-controller="Projects"
                   asp-route-Id="@Model.Id" class="btn btn-primary btn-sm">
                    Edit Project
                </a>
            }
        </div>
        <partial name="_ProjectDescriptionPartial" model="Model" />
        <partial name="_ProjectDetailsPartial" model="Model" />
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="mt-3">Members</h3>
            <span>
                @if (userIsAdmin)
                {
                    <a asp-action="AssignPM" asp-controller="Projects"
                       asp-route-projectId="@Model.Id" class="btn btn-secondary btn-sm">
                        Assign PM
                    </a>
                    <a asp-action="AssignMembers" asp-controller="Projects"
                       asp-route-projectId="@Model.Id" class="btn btn-primary btn-sm">
                        Assign Members
                    </a>
                }
            </span>
        </div>
        @foreach (BTUser? user in Model.Members)
        {
            <partial name="_UserPartial" model="user" />
        }
    </div>
    <div class="col-12 col-xl-8">
        <div class="d-flex justify-content-between align-items-center">
            <h3>Tickets</h3>
            @if (userIsAdmin || userOnProject)
            {
                <a asp-action="Create" asp-controller="Tickets"
                   asp-route-projectId="@Model.Id" class="btn btn-primary btn-sm">
                    New Ticket
                </a>
            }
        </div>
        <partial name="_TicketsTablePartial" model="Model.Tickets.Where(t => !t.Archived)" />
        <h3 class="mt-3">Ticket History</h3>
        <partial name="_TicketHistoryPartial" model="@await _HistoryService.GetProjectTicketHistoriesAsync(Model.Id, Model.CompanyId)" />
    </div>
</div>

@section scripts {
    <!--Sweet Alerts-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        let message = '@(ViewBag.SwalMessage)';
        if (!message.includes("Error") && message != '') {
            Swal.fire({
                backdrop: false,
                icon: 'success',
                title: message,
                showConfirmButton: true
            });
        } else if (message.includes("Error")) {
            Swal.fire({
                backdrop: false,
                icon: 'error',
                title: 'Oops...',
                text: message
            });
        }
    </script>
    <!--End Sweet Alerts-->
    }