@model IEnumerable<Project>
@inject IProjectService _ProjectService
@inject IFileService _FileService

@{
    ViewData["Title"] = "My Projects";
}

<div class="row">
    <div class="col-12 col-md-6 text-end">
        @*TO-DO: Search function*@
    </div>
</div>
<div class="table-responsive border border-bottom-0">
    <table class="table text-nowrap table-hover">
        <thead>
            <tr>
                <th>
                    Project
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Progress
                </th>
                <th>
                    Project Manager
                </th>
                <th>
                    Status
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Project? item in Model)
            {
                <tr>
                    <td>
                        <b>@item.Name</b><br />
                        <small>Created: @item.Created.ToLocalTime().ToString("MMM dd yyyy")</small>
                    </td>
                    <td>
                        @item.EndDate.ToLocalTime().ToString("MMM dd yyyy")<br />
                        <small>Priority: @item.ProjectPriority?.Name</small>
                    </td>
                    <td>
                        <div class="progress">
                            @{
                                DateTime today = DateTime.Now;
                                double percent = today >= item.EndDate ? 100
                                : today < item.StartDate ? 0
                                : Math.Round((today.Subtract(item.StartDate)) / (item.EndDate.Subtract(item.StartDate)) * 100);

                                <div class="progress-bar" role="progressbar" aria-valuenow="@percent"
                                     aria-valuemin="0" aria-valuemax="100" style="width:@percent%;">
                                    <span class="progress-value">@percent%</span>
                                </div>
                            }
                        </div>
                    </td>
                    <td>
                        @if (await _ProjectService.GetProjectManagerAsync(item.Id) == null)
                        {
                            <span>No PM Assigned</span>
                        }
                        else
                        {
                            <p>
                                @((await _ProjectService.GetProjectManagerAsync(item.Id))?.FullName)
                            </p>
                        }
                    </td>
                    <td>
                        @if (!item.Archived)
                        {
                            <p>Active</p>
                        }
                        else
                        {
                            <p>Inactive</p>
                        }
                    </td>
                    <td class="d-flex">
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <i class="bi bi-info-circle-fill"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>